@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$red: #b22b32;
$grey: #c6c6c6;
$white: #fefefe;

body {
    background-image: url("/images/bg.jpg");
}

.row {
    height: 3rem;
}

.container-fluid {
    height: 100vh;
    max-width: 800px;
    margin: auto;

    .social {
        .facebook {
            color: #4267b2;
        }
        .instagram {
            color: #c13584;
        }
        .twitter {
            color: #1da1f2;
        }
        .youtube {
            color: #ff0000;
        }
    }

    .nav-anchors {
        height: 2.5rem;
        div {
            background-color: $red;
            color: white;
            text-align: center;
            padding-top: 0.55rem;
            font-size: 61%;
            &:hover {
                background-color: $white;
                border: 2px solid $red;
                color: $red;
            }
        }
    }

    .photo-banner {
        position: relative;
        height: 18rem;
        background-image: url("/images/top-image.png");
        background-repeat: no-repeat;
        background-size: 75rem 40rem;
        background-position: 42.5% 20%;
        border: 8px solid white;
        overflow: hidden;
        margin-top: 0.25rem;
        .img-grid {
            max-width: 100%;
            height: auto;
            padding: 0;
            object-fit: cover;
            transform: scale(1.8);
            opacity: 0.35;
        }
        .peralta-logo {
            position: absolute;
            width: 45%;
            top: 20%;
            left: 2.5%;
        }
    }
    .blurbs {
        height: auto;
        margin-top: 1.5rem;

        .blurb {
            background-color: $white;
            padding: 1rem;
            width: 32%;
            .blurb-title {
                font-size: 0.85rem;
            }
            .blurb-date {
                font-size: 0.65rem;
                color: $grey;
            }
            .blurb-description {
                font-size: 0.5rem;
                margin-bottom: 0.2rem;
            }
            .blurb-read-more {
                display: inline-block;
                color: $red;
                width: 100%;
                font-size: 0.6rem;
                font-weight: 700;
                text-align: center;
            }
        }
    }
    .photo-bios {
        position: relative;
        margin-top: 1rem;
        height: 26rem;
        overflow: hidden;
        .lance-mountain {
            background-image: url('/images/sk8er-4.png');
            background-size: cover;
            background-position: 100% 20%;
        }
        .rodney-mullen {
            background-image: url('/images/sk8er-3.png');
            width: 100%;
        }
        .steve-caballero {
            background-image:url('/images/sk8er-1.png');
            background-position: 50% 50%;
        }
        .tommy-guerrero {
            background-image: url('/images/sk8er-2.png');

            background-position: 100% 90%;
        }
        .lance-mountain, .rodney-mullen, .steve-caballero, .tommy-guerrero {
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            color: white;
            font-family: 'Bebas Neue', cursive;
            font-size: 2.5rem;
            
        }

        .photo-div {
            width: 100%;
            height: 100%;
            margin: auto;
            border: 5px solid white;
        }
        .row-left-photos {
            height: 13rem;
        }

                
        }
       
    }

    .skateboards {
        height: 20rem;
        background-color: $white;
        margin-top: 2rem;
        .skateboard {
            transform: rotate(90deg);
        }
    }


#pointer { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 60px;
    position: relative;
    background: $red;
    top:700px;
    left: 60px;
    color: white;
    text-align: center;
  }
  #pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
 
  }
  #pointer:before {
    content: "";
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid $red;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
  }
    
.form-div {
    background-color: $white;
    height: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    h2 {
        font-size: 1.2rem;
    }
    input[type="email"] {
        margin-bottom: 1.5rem;
    }
    textarea {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 700px) {
    .skateboards {
        height: 20rem;
        .skateboard img {
            transform: rotate(90deg);
        }
    }

    .container-fluid .nav-anchors {
        height: 6rem;
    }
}
